@media screen and (min-width: 200px) {
    body {
        content: url(donald-trump-png-5.png);
    }
}
@media screen and (min-width: 400px) {
    body {
        content: url(
Donald-Trump-PNG-Clipart.png);
    }
}
@media screen and (min-width: 800px) {
    body {
        content: url(kitten-large.png);
    }
}
